body {
  font-family: 'Ropa Sans', sans-serif;
  color: #333;
  max-width: 640px;
  margin: 0 auto;
  position: relative;
}

#githubLink {
  position: absolute;
  right: 0;
  top: 12px;
  color: #2D99FF;
}

h1 {
  margin: 10px 0;
  font-size: 40px;
}

#loadingMessage {
  text-align: center;
  padding: 40px;
  background-color: #eee;
}

#canvas {
  width: 100%;
}

#output {
  margin-top: 15%;
  background: #eee;
  padding: 10px;
  padding-bottom: 0;
}

#output div {
  padding-bottom: 5px;
  word-wrap: break-word;
}

#noQRFound {
  text-align: center;
}
.props{
  margin-top: 20px;
}
#outputData{
  font-size: 4vw;
  font-family: "impact";
  text-align: left;
  background-color: #18bc9c;
  border-color: #18bc9c;
}
hr{
  background-color: #294166;
}
