input {
	text-align: center;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.form-group {
	margin: 5% 2%;
}

#qrcode > img{
	margin: 5% auto;
}

#greet {
	text-align: center;
}

canvas {
	margin: 1%;
	border-radius: 5%;
}
