.header{
	height: 100%;
	width: 100%;
	text-align: center;
	font-size: 10vw;
	color: #4cad50;
	font-family: bookmark;
	margin-left: 1%; 
	margin-right: 5%;
}
.header-img{
	height: 20vw; 
	width: 20vw;
	border-style: inset;
}
.headerLine{
	display: block;
	border-width: 10px;
	border-color: #4cad50;
	border-style: solid;
}
.cameraLabel{
	background-color: red;
	margin-top: 40%;
	height: 5px;
	width: 5px;
}
#label{
	height: 500px;
	width:60%;
	background-color: #66cc00;
	margin-left: 20%;
	margin-right:20%;
	margin-top: 20%;
	margin-bottom: 40%;
}
#cameraButton{
	width: 100%;
	height: 6%;
	margin-top: 5%;
}
.imgwrapper {
   width: 50%;
   margin-left: 25%;
   margin-top: 50%;
}
#msg{
	font-size: 3vw;
	text-align: center;
	margin-top: 5%;

}



