.header{
	height: 100%;
	width: 100%;
	text-align: center;
	font-size: 10vw;
	color: #4cad50;
	font-family: bookmark;
	margin-left: 1%; 
	margin-right: 5%;
}
.header-img{
	height: 20vw; 
	width: 20vw;
	border-style: inset;
}
.headerLine{
	display: block;
	border-width: 10px;
	border-color: #4cad50;
	border-style: solid;
}
.cameraButton{
	margin-left: 30vw;
	margin-right: 50vw;
	margin-top: 42vw;
}
.qrImg{
	margin-left: 5vw;
	margin-right: 5vw;
	margin-top: -60vw;
	width: 40vw;
	height: 40vw;
}




